<section class="section bg-light">
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">We Are VKUer</h4>
                    <p class="text-muted para-desc mx-auto mb-0">All our dreams can come true, if we have the <span class="text-primary fw-bold">courage</span> to pursue them.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team text-center bg-transparent border-0">
                    <div class="card-body p-0">
                        <div class="position-relative">
                            <%= image_tag "https://scontent-hkg4-2.xx.fbcdn.net/v/t1.18169-9/17190742_227587601041724_7153420415484182827_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=gWThBOQ6veYAX9iHBAB&_nc_ht=scontent-hkg4-2.xx&oh=77ed4d61082ff5eeed2267c9f3a646b5&oe=60A01E73", class: "img-fluid avatar avatar-ex-large rounded-circle"%>
                        </div>
                        <div class="content pt-3 pb-3">
                            <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Tắt Đèn Tất Tố</a></h5>
                            <small class="designation text-muted">C.E.O</small>
                        </div>                                
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team text-center bg-transparent border-0">
                    <div class="card-body p-0">
                        <div class="position-relative">
                            <%= image_tag "https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/149258036_276927160693078_2687890634881571846_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=uL2A1aiiZ8cAX-yEF8h&_nc_ht=scontent-hkg4-1.xx&oh=16d9d9e61ef40e274cf0b86a825a85bc&oe=609ED3DA", class: "img-fluid avatar avatar-ex-large rounded-circle"%>
                        </div>
                        <div class="content pt-3 pb-3">
                            <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Quốc Vinh</a></h5>
                            <small class="designation text-muted">Director</small>
                        </div>                                
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team text-center bg-transparent border-0">
                    <div class="card-body p-0">
                        <div class="position-relative">
                            <%= image_tag "https://scontent-hkg4-2.xx.fbcdn.net/v/t1.6435-9/123414539_1565630823639874_8413878845551310007_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Bx4u_9ezpjgAX__l4md&_nc_oc=AQmaibQUr3eNAtxhvw_jMXLCeaGSnqMBlaGMhR1i6F6sEz42XADH7u2dGwIIV0wiJVc&_nc_ht=scontent-hkg4-2.xx&oh=08b1105398f28ec0bc737b518a3cc0a4&oe=609DD1C9", class: "img-fluid avatar avatar-ex-large rounded-circle"%>
                        </div>
                        <div class="content pt-3 pb-3">
                            <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Huỳnh Nam Thành</a></h5>
                            <small class="designation text-muted">Manager</small>
                        </div>                                
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 mt-4 pt-2">
                <div class="card team text-center bg-transparent border-0">
                    <div class="card-body p-0">
                        <div class="position-relative">
                            <%= image_tag "https://scontent-hkg4-1.xx.fbcdn.net/v/t1.6435-9/83473752_2678166355757654_8632001896196889831_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=e3f864&_nc_ohc=S1C8ubrGCAQAX9xwwL2&_nc_ht=scontent-hkg4-1.xx&oh=d106b3906b1a9adabe3f0196f14023fe&oe=609D2E57", class: "img-fluid avatar avatar-ex-large rounded-circle"%>
                        </div>
                        <div class="content pt-3 pb-3">
                            <h5 class="mb-0"><a href="javascript:void(0)" class="name text-dark">Phii Hùng</a></h5>
                            <small class="designation text-muted">Developer</small>
                        </div>                                
                    </div>
                </div>
            </div><!--end col-->
        </div>
    </div>
</section>